@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}
html a {
  text-decoration: none;
}
html .imajen {
  max-width: 100%;
  max-height: 100%;
}
html body {
  font-weight: 100;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-areas: "barra" "cuerpo" "pie";
}
html body header {
  width: 100%;
  height: 100%;
  grid-area: barra;
}
html body header nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 72.7px 145.4px 70%;
  grid-template-areas: "men log bus";
  background-color: darkgray;
}
html body header nav aside {
  grid-area: men;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  padding: 10px 0px 0px 10px;
}
html body header nav aside img {
  width: 30px;
  height: 30px;
}
html body header nav div {
  grid-area: log;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
}
html body header nav input {
  grid-area: bus;
  margin: 20px 20px 20px 20px;
  width: 90%;
  height: 30%;
}
html body main {
  width: 100%;
  height: 100%;
  background-color: black;
}
html body main section {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "in in" "des as" "des as";
  background-image: url(https://images.alphacoders.com/641/641387.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
html body main section h2 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 27pt;
  font-weight: 700;
  color: white;
  margin: 0.5cm 0px 0px 1cm;
  grid-area: in;
}
html body main section aside {
  max-width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
  border-radius: 20px;
  opacity: 0.8;
  padding: 5px;
  grid-area: as;
}
html body main section aside div {
  margin: 0px 0px 0px 10px;
  max-width: 30%;
}
html body main section aside div img {
  border: 1px solid black;
  border-radius: 16px;
}
html body main section #descripcion {
  margin: 5px;
  grid-area: des;
  display: flex;
  align-items: flex-end;
}
html body main section #descripcion div {
  font-family: "Montserrat", sans-serif;
  color: white;
}
html body footer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-areas: "ayu" "redes";
  background-color: black;
}
html body footer nav {
  grid-area: ayu;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body footer nav a {
  font-family: "Montserrat", sans-serif;
  color: white;
}
html body footer #divino {
  grid-area: redes;
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
html body footer #divino .redes {
  max-width: 60%;
  max-height: 60%;
  margin: 0px 10px 0px 10px;
}

/*# sourceMappingURL=st2.css.map */
